/* dark */
.dark .mcontainer{
    background-color: #b7b7bc2b;
}
.dark .mcontainer span{
    background-color: #5e5e5e8f;
}

@media (max-width: 1010px) {
  .caption {
    height: 19rem;
  }
}
@media (max-width: 984px) {
    .caption {
        height: 16rem;
      }
}
@media (max-width: 791px) {
    .caption {
        height: 19rem;
      }
}
@media (max-width: 768px) {
    .mcontainer{
        height: 30rem;
    }
}

@media (max-width: 655px) {
    .mcontainer{
        height: 26rem;
    }
    .caption {
        height: 13rem;
      }
}
@media (max-width: 514px) {
    .mcontainer{
        height: 30rem;
    }
    .caption {
        height: 18rem;
      }
}
