
body .meno{
    direction: rtl;
    font-size: 50%;
}

.meno .btn {
    width: 4rem;
  list-style: none;
  margin: 0.1rem;
  margin-bottom: 0;
  background-color: #8080806d;
  padding: 0.3rem .3rem;
  font-weight: 600;
  font-size:170%;
  cursor: pointer;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  text-align: center;
  position: relative;
}
.meno .btn span ,.meno .btn div {
  position: absolute;
  right: 50%;
  top: 103%;
  padding: 0.2rem 0.4rem;
  border-radius: 3rem;
  margin-right: 0.3rem;
  background-color: #5a5a5a38;
  color: black;
  font-weight: 400;
  width: max-content;
  border-start-start-radius: 0;
}
body.rtl .meno{
    direction: ltr;
}
body.rtl .meno .btn span,
body.rtl .meno .btn div {
  left: 96%;
  right: unset;
}

.meno .btn div button {
  padding: 0 1.3rem;
}
.meno .btn div button:hover {
  background-color: #07070755;
  color: rgb(221, 220, 220);
}
@media (max-width: 721px) {

    .parentmeno{
        bottom:0px;
        top: unset;
        right: 0%;
        width: 100%;
        }

    .meno,
.meno ul {
  flex-direction: row;
}
    .meno ul{
        width: 72.8%;
    }
    .meno .btn {
        width: 25%;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
    text-align: center;
    color: white;
    background-color: #000000d6;
}
.meno ul .btn{
    width: 33.33%;
}

.meno .btn span, .meno .btn div {
    color: white;
    background-color: #000000d6;
    width: 100%;
    /*  */
    right: -3%;
    /*  */
    top: -99%;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
}
/*  */
.meno .btn div{top: -164%;}
.meno .btn div b{display: none;}
/*  */
.meno .btn div button:hover {
    background-color: #77777778;
  }
  body.rtl .meno{
    direction: rtl;
}
body.rtl .meno .btn span,
body.rtl .meno .btn div {
  left: unset;
  right: -3%;
}

}
@media (max-width: 320px) {
    .meno .btn div{
        padding: 0.2rem 0rem;
    }
}
