body .meno {
  direction: rtl;
  font-size: 50%;
}

.meno .btn {
  width: 4rem;
  list-style: none;
  background-color: #8080806d;
  padding: 0.3rem 0.3rem;
  font-weight: 600;
  font-size: 170%;
  cursor: pointer;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  text-align: center;
  position: relative;
}
.meno .btn span,
.meno .btn div {
  position: absolute;
  right: 50%;
  top: 103%;
  padding: 0.2rem 0.4rem;
  border-radius: 3rem;
  margin-right: 0.3rem;
  background-color: #5a5a5a38;
  color: black;
  font-weight: 400;
  width: max-content;
  border-start-start-radius: 0;
}
.meno .btn div button {
    padding: 0 1.3rem;
  }
  .meno .btn div button:hover {
    background-color: #07070755;
    color: rgb(221, 220, 220);
  }
/* فارسی */
body.rtl .meno {
  direction: ltr;
}
body.rtl .meno .btn span,
body.rtl .meno .btn div {
  left: 96%;
  right: unset;
}
/* دارک مود */
.dark .meno .btn ,.dark .meno .btn span,
.dark .meno .btn div{
    color: rgb(36, 36, 36);
    background-color:rgb(127 128 130 / 95%);
  }
@media (max-width: 768px) {
  .parentmeno {
    bottom: 0px;
    top: unset;
    right: 0%;
    width: 100%;
  }

  .meno,
  .meno ul {
    flex-direction: row;
    gap: 0.1rem;
  }
  .meno ul {
    width: 75%;
  }
  .meno .btn,  .meno ul .btn {
    width: 25%;
  }
  .meno .btn,
  .meno .btn span,
  .meno .btn div {
    font-size: .98rem;
    color: white;
    background-color:rgb(97 98 98 / 94%);
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
    text-align: center;
  }

  .meno .btn span,
  .meno .btn div {
    margin: unset;
    width: 100%;
    right: 0%;
    top: -99%;
  }
  .meno .btn div {
    top: -164%;
  }
  .meno .btn div b {
    display: none;
  }
  .meno .btn div button:hover {
    background-color: #77777778;
  }
  /* فارسی */
  body.rtl .meno {
    direction: rtl;
  }
  body.rtl .meno .btn span,
  body.rtl .meno .btn div {
    left: unset;
    right: 0%;
  }
}
@media (max-width: 560px) {
.meno .btn div button {
    padding: 0 0.3rem;
}
.meno .btn div {
    padding-right: unset;
    padding-left: unset;
}}
@media (max-width: 320px) {
    .meno .btn div button {
        padding: 0;
    }
}
