.section2 {
  padding: 1rem;
  text-align: justify;
}
.section2 h2.part1 {
}
.section2 h2.part1 i {
  margin: 0.4rem;
  /* color: rgb(173, 121, 121); */
  /* color: rgb(182 84 84); */
  color: rgb(153 65 65);
}
.section2 h4.part2 {
  margin: 1.4rem 0 1rem;
  font-size: 111%;
  font-weight: 500;
}
.section2 p.part3 {
  font-weight: 400;
  margin: 1.5rem 0;
  font-size: 87%;
}

.section3 {
  text-align: justify;
  padding: 1.3rem;
}
.section3 h2.part1 {
  margin-bottom: 1.5rem;
}
.section3 h2.part1 i {
  font-size: 1.4rem;
  margin: 0.4rem;
  /* color: rgb(173, 121, 121); */
  color: rgb(153 65 65);
}
.section3 p.part2 {
  font-size: 111%;
}
.section3 div.part3 i {
  font-size: 1rem;
  margin: 0.4rem;
  /* color: rgb(173, 121, 121); */
  color: rgb(153 65 65);
}
.section3 div.part3 h5.style {
  /* color: rgb(173, 121, 121); */
  color: rgb(153 65 65);
  display: inline-block;
  font-weight: 700;
  margin: 0.5rem 0.1rem;
  font-size: 123%;
}
.section3 div.part3 h5.h52 {
  /* background-color: rgb(173, 121, 121); */
  /* background-color: rgb(182 84 84);
    color: rgb(239, 239, 239); */
  background-color: rgb(153 65 65);
  color: rgb(207 197 197);
  padding: 0.1rem 0.25rem;
  border-radius: 0.4rem;
  text-align: center;
}
.section3 p.part4 {
  font-size: 97%;
  font-weight: 400;
}
/* dark */
.dark .section3 div.part3 h5.style,
.dark .section3 div.part3 i,
.dark .section3 h2.part1 i,
.dark .section2 h2.part1 i {
  color:rgb(255 93 93);
}
.dark .section3 div.part3 h5.h52{
  color: rgba(250, 250, 250, .8);
  background-color: #c03f3f;
}
