@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* استایل های عمومی */
* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-color: rgb(183, 185, 187);
  font-size: 100%;
  font-family: "Poppins", "Inter", sans-serif;
}

/* تمرکز روی input */
input:focus {
  outline: unset;
}

/* pointer */
a,
button {
  cursor: pointer;
}

/* سایه */
.box-shadow {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.32);
}

/* انیمیشن نرم برای بخش فعال به صورت کوتاه مدت */
.active-section {
  @apply relative transform scale-102 shadow-xl bg-gray-100 transition-all duration-2000 ease-in-out;
}

/* hover نرم روی کارت‌ها و مهارت‌ها */
.group:hover {
  @apply transform scale-105 transition-transform duration-300 ease-in-out;
}

/* اسکرولبار */
*::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #F5F6F8;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb {
  background-color: #a93a3a;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #a93a3a;
}
