@import "tailwindcss";
@font-face {
  font-family: "vazir";
  src: url("./assets/font/Lalezar-Regular.ttf");
}
@font-face {
  font-family: "yekan";
  src: url("./assets/font/Yekan.ttf");
}
* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-color: rgb(183, 185, 187);
  font-size: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body.rtl {
  font-family: "Gill Sans";
}

section {
  box-shadow: 0 0 0.2rem black;
  background-color: rgb(205, 210, 214);
  z-index: 3;
}
div.mycontainer {
  margin: 0.5rem auto;
  margin-bottom: 0;
}
.parentmeno {
  z-index: 4;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Right {
  align-self: end;
  width: 60%;
  z-index: 1;
}
.Profile {
  width: 35%;
  z-index: 2;
}
.section4 {
  width: 95%;
  margin: auto;
}
body.rtl .swiper-wrapper{
    direction: ltr;
}
body.rtl .Myproject div div{
    direction: rtl;
}
body.rtl .Buttonswiper{
    direction: ltr;
}
.section5{
    width: 95%;
    margin: auto;
}
.mySwiper {
  display: flex !important;
  flex-direction: column-reverse !important;
}
@media print {
    .parentmeno{
        display:none !important;
    }
}
@media (max-width: 768px) {
  div.mycontainer {
    margin: 0.3rem;
  }
  footer{
    margin-top: 0rem;
    box-shadow: 0 0 0.2rem black;
  }
  /* .parentmeno {
    top: -1.75rem;
    right: -1rem;
  }
  body.rtl .parentmeno {
    top: -1.75rem;
    right:unset;
    left: -1rem;
  } */
  /* .meno .btn span, .meno .btn div{
    right: 90% !important;
    top:38% !important;
  }
  .meno,
  .meno ul {
    flex-direction: column;
  } */
  .head {
    flex-direction: column;
  }
  .Right {
    width: 100%;
  }
  .Profile {
    width: 100%;
  }
  .section4 , .section5{
    width: 100%;
  }
  .Myproject .mcontainer img {
    height: (var(--spacing) * 40);
  }
  .section1 {
    display: flex;
  }
  .Profile .section1 .information {
    border-left: 1.5px solid black;
  }
  body.rtl .Profile .section1 .information {
    border-right: 1.5px solid black;
    border-left:unset;

  }
  .section1 .part1 {
    padding: 1rem;
  }
  .section1 .part1 h2 {
    font-size: 140% !important;
  }
}
@media (max-width: 500px) {
    .section1 {
        border-radius: 0rem 0rem 0 0 !important;
        -webkit-border-radius: 0rem 0rem 0 0 !important;
        -moz-border-radius: 0rem 0rem 0 0 !important;
        -ms-border-radius: 0rem 0rem 0 0 !important;
        -o-border-radius: 0rem 0rem 0 0 !important;
}

  /* .meno ,.meno ul{
    flex-direction: row;
    opacity: 1;
  } */

    /* .meno .btn span, .meno .btn div{
    left:unset !important;
    right: 50% !important;
    top: 103% !important;
  }
    body.rtl .meno .btn span,body.rtl .meno .btn div{
    right:unset !important;
    left: 50% !important;
  } */
  .section1 {
    flex-direction: column;
  }
  .Profile .section1 .information {
    border-left: none;
  }
}
